 <a class="btn btn-secondary"  data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
    List of Available Students
  </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="list">
      <div class="card card-body">
      <ul>
        <li>
          <%= link_to 'Francesco Moustache', show_path %>
        </li>
        <li>
          <%= link_to 'Francesco Moustache', show_path %>
        </li>
        <li>
          <%= link_to 'Francesco Moustache', show_path %>
        </li>
         <li>
          <%= link_to 'Francesco Moustache', show_path %>
        </li>
        <li>
          <%= link_to 'Francesco Moustache', show_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
  </div>
  </div> 